@charset "utf-8";
@media screen and (max-width:1460px){
      header{
      justify-content: flex-end;
    }
    header h1{
        display: none;
    }
    header nav{
        width: 100%;
    }
    header nav ul.navMenu{
        padding: 0 20px;
    }
    .main_typography{
        height: 200px;
    }
    header nav ul li a{
        font-size: 28px;
    }
      header nav.shrink {
    width: 100px;
    margin-left: auto; /* 오른쪽 기준으로 줄어들게 만듦 */
    border-radius: 30px 0 0 30px;
    padding-left: 0;
    }
  .cross_all{
    display: none;
  }
}
@media screen and (max-width:1069px){
    header{
      justify-content: flex-end;
    }
    header h1{
        display: none;
    }
    header nav{
        width: 100%;
    }
    header nav ul.navMenu{
        padding: 0 20px;
    }
    .main_typography{
        height: 200px;
    }
    header nav ul li a{
        font-size: 28px;
    }
      header nav.shrink {
    width: 100px;
    margin-left: auto; /* 오른쪽 기준으로 줄어들게 만듦 */
    border-radius: 30px 0 0 30px;
    padding-left: 0;
    }
    .main_page{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .main_typography{
      width: 90%;
      display: flex;
      justify-content: center;
    }
    .main_typography .typography img{
        width: 100%;
        height: auto;
      }
      .projects .box_tb{
        display: none;
      }
      .projects .right_con{
      background-image: url(../img/main_page/Subtract2.png);
    }
    
    .projects .right_con .scroll_btn{
      width: 30%;
    }
    .projects .right_con .scroll_btn p{
      font-size: 1.5rem;
    }
    .projects .right_con p.t{
      font-size: 1.9vw;
      right: 0%;
    }
    /* about me */
    .object_text{
      margin-top: 12%;
    }
    .project1 h2{
      font-size: 42px;
    }
   .project1 article h3{
    font-size: 40px;
    font-weight: 500;
    }
    .thum1 {
    width: 40%;
    height: 100%;
    object-fit: cover;
    }

    /* footer */
    footer{

    }
    .git_footer {

      }
      .git_footer img {
        width: 100%;
        height: auto;
      }
      .object_text p{
        /* width: 80%; */
        font-size: 18px;
      }

      .info_sns{

}
.info{
  font-size: 20px;
}
.sns{
  width: 40%;
  justify-content: space-between;
}
.sns h3{
  font-size: 20px;
}
.message p{
  font-size: 18px;
}
.message .send{
  height: 50%;
  font-size: 18px;
  font-weight: 500;
}
.social h4{
  font-size: 20px;
}
}

@media screen and (max-width:1292px){
  /* footer */
  .info{
    display: none;
  }
  .sns{
    width: 100%;
  }
        .info_sns{
        width: 100%;
        display: flex;
        justify-content: space-between;
}
.message .send{
  width: 60%;
}
}
@media screen and (max-width:1024px){
  header nav ul li a{
    cursor: pointer;
  }
  header nav ul li a:hover{

  }
  .projects .right_con .scroll_btn{
    cursor: pointer;
  }

  article .name img{
    opacity: 1;
  }
  .project1 article h3{
    color: var(--main-black-color);
    background: #eee;
  }
  article:hover .name h3{
    color: var(--main-black-color);
    background: #eee;
    cursor: pointer;

  }
  .thum1{
    display: none;
  }
  .thum2{
    display: none;
  }
  .littlethumb img{
    display: flex;
  }
    body {
    cursor: default !important; /* 모바일에서는 기본 커서 보이게 */
  }
  /* 마우스 커서 제거 */
    .cursor-inner,
  .cursor-outer {
    display: none !important;
  }

.projects .right_con .scroll_btn:hover {
    color: var(--main-white-color);
    background: none;
}
.skills{
    overflow: hidden;
}


.work-link{
  cursor: pointer;
}

.worktop h3{
  font-size: 25px;
}
.worktop h4{
  font-size: 20px;
}
.workmiddle{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.workmiddle h3{
  font-size: 45px;
}
.workmiddle h4{
  font-size: 25px;
}


.coca::before{
    background-size: 60%;
    background-position: 50% 55%;
}

.finpick::before{
    background-size: 35%;
    background-position: 50% 55%;
}

.goongle::before{
    background-size: 55%;
    background-position: 50% 55%;
}

.goodgoodmarket::before{
    background-size: 75%;
    background-position: 50% 55%;
}

.wavelet::before{
    background-size: 80%;
    background-position: 50% 55%;
}


.plan{
  cursor: pointer;
}
.plan a{
  cursor: pointer;
}
.plan:hover{
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
}
.plan a:hover{
    cursor: pointer;
}
.site{
  cursor: pointer;
}
.site a{
  cursor: pointer;
}
.site:hover{
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
}
.site a:hover{
    cursor: pointer;
}

.workbottom{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workbottom h4{
}
.workbottom h3{
  font-size: 50px;
}

.contact_all .contact:hover{
  cursor: pointer;
}
.message .send:hover{
  cursor: pointer;
}
.insta a{
  cursor: pointer;
}
.insta:hover{
  cursor: pointer;
}
.kakao a{
  cursor: pointer;
}
.kakao:hover{
  cursor: pointer;
}
}
@media screen and (max-width:713px){
  article .name img{
    display: none;
}
}
@media screen and (max-width:430px){

  header{
    height: 60px;
  }
header nav .logo{
  right: 10px;
  width: 50px;
  height: 50px;
}
header nav.shrink{
  width: 80px;
}
header nav ul.navMenu{
  padding: 0;
}
header nav ul li a{
  font-size: 18px;
}
  .main_page{
    padding-top: 0;
    height: 680px;
  }
  .main_typography{

  }
  .projects{
    height: 380px;
  }
  .projects .right_con{
    height: 380px;
  }
  .projects .right_con{
  background-image: none;
}
.projects .right_con::after{
  left: 2.5%;
}
.projects .right_con.show-after::after{
  top: 20%;
}
.projects .right_con video{
  top: 60%;
}
.project1 h2{
    font-size: 30px;
}
.project1 .bk{
  height: 10%;
}
img.infinite_rotating_logo{
  width: 70%;
}
.project1 article h3{
  font-size: 35px;
}
.littlethumb img{
    width: auto; 
    height: 90%;
}
.about1{
  padding: 0;
  height: 810px;
}
.object_text p {
  width: 80%;
  font-size: 14px;
}

.worktop{
  height: 88px;
  display: block;
  padding: 34px 0 0 28px;
}
.worktop h3{
  font-size: 16px;
}
.worktop h4{
  margin-top: 5px;
  font-size: 12px;
}
.workmiddle{

}
.workmiddle h3{
  display: none;
}
.workmiddle h4{
  display: none;
}
.linkall{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    padding: 0;
    margin: 10px 0 0 0;
}
.workbottom{
  flex: none;
  height: 88px;
  display: block;
  padding: 16px 28px 0 0;
  text-align: right;
}
.workbottom h4{
  font-size: 16px;
  font-weight: 500;
}
.workbottom h3{
  margin-top: 5px;
  font-size: 16px;
  font-weight: 300;
}
  .all .right{
    display: none;
  }
  .all .left{
    display: none;
  }

  .work-link{
    height: 80%;
  }

.coca::before{
    background-size: 100%;
    background-position: 50% 50%;
}

.finpick::before{
    background-size: 70%;
    background-position: 50% 50%;
}

.goongle::before{
    background-size: 75%;
    background-position: 50% 50%;
}

.goodgoodmarket::before{
    background-size: 100%;
    background-position: 50% 50%;
}

.wavelet::before{
    background-size: 100%;
    background-position: 50% 50%;
}



  .skills{
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .contact_all .contact{
    height: 80%;
    border-radius: 16px;
  }
  .projects .right_con .scroll_btn{
    width: 100%;
  }
.projects .right_con p.t{
  display: none;
}
/* footer */
.git_footer{
}
.message .send{
  width: 90%;
  font-size: 1rem;
}
}

@media screen and (max-width:409px){


  /* footer */
.message .send{

}
}